/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 102px;

    /* Colores */
    --first-color: #0c5df4;
    --bg-color: #12192c;
    --sub-color: #b6cefc;
    --white-color: #fff;
    --black-color: #000;
    
    --border-color: #b8b9b8;
    
    --hover-font-color: #a7a7a7;

    --active-bg-color: #bdbdbd6c;
    --hover-bg-color: #ffffff;
    
    --bg-color-1: #ffffff;

    /* Fuente y tipografia */
    --body-font: 'Roboto Condensed', sans-serif;;
    --title-font-size: 3.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: var(--bg-color-1);
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;

}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: var(--bg-color1);
    color: #000;
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
    border-right: 2px solid var(--border-color);
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.75rem;
    padding: .65rem;
    cursor: pointer;
    border: 1px solid var(--black-color);
    border-radius: 0.7rem;
    
}
.top_menu{
    width: 100%;
    margin: auto;
    display: inline-block;
}
.nav__icon {
    display: grid;
    align-items: right;
    padding: 0 2.5rem 0 0;
    float:right;
    color: #000;
    border-radius: .5rem;
    transition: .3s;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}



.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: #000;
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--hover-bg-color);
}

.nav__icon {
    font-size: 1.75rem;
}

.nav_title{
	font-size: var(--title-font-size);
    font-weight: bold;
}

.nav_name {
    font-size: var(--small-font-size);
    font-weight: bold;
    margin: 0 0 0 10px;
}

.nav__title{
	display:none;
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 16.25rem);
}

/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 23.3rem;
}

/* Active links menu */
.active {
    background-color: var(--active-bg-color);
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.hidden-title {
    display: block;
    margin-bottom:7rem;
}


.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--black-color);
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    font-weight: bold;
    margin: 0 0 0 10px;
}
.subactive{
    color: #0c5df4;
}
.collapse__sublink:hover {
    color: var(--hover-font-color);
}
/* Show collapse */
.showCollapse {
    display: block;
}
.sub__icon{
    font-size: 1.75rem;
    display: grid;
    align-items: right;
    padding-right: .75rem;
    float:right;
    color: #000;
    border-radius: .5rem;
    transition: .3s;
    cursor: pointer;
}
/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

.menu {
    padding: 20rem 10rem 40rem 30rem;
    color:#0000;
}